@import url("https://fonts.googleapis.com/css?family=Work+Sans:800|Lato|Lato:600");

:root {
  --div-color:#003181;
}

body {
  margin: 2em;
  font: 12pt/1.3 "Lato", sans-serif;
}

main {
  max-width: 42em;
  margin: auto;
}

#s {
  margin: auto;
  display: block;
}

h1 {
  font: 3.5rem "Work Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

.lede {
  text-align: center;
  padding: 1em;
  border: 1px solid var(--div-color);
  border-width: 1px 0 1px 0;
}

.image {
  width: 250px;
}

a {
  color: #003181;
}

.project {
  border: 1px solid var(--div-color);
  border-width: 0px 0 1px 0;
  margin-bottom: 2em;
}

ul.projects > li > a {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

ul.downloads {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

ul.downloads li {
  flex: 1;
  list-style: none;
  padding: 1em 0;
  margin: 0;
  text-align: center;
}

ul.downloads li a {

  text-decoration: none;
}

ul.downloads li img {
  height: 4em;
  margin: auto;
  display: block;
  margin-bottom: 1em;
  opacity: .7;
}

ul.downloads li a:hover {
  text-decoration: underline
}

ul.downloads li a:hover img {
  opacity: 1;
}

ul.downloads li .ver {
  text-decoration: none;
  display: block;
  font-size: 80%;
  margin-bottom: .5em;
}

.other {
  font-size: 80%;
}
